@media (min-width: 200px) and (max-width:375px) {
    .body {
        width: 250px;
        height: 437px;
    }
    .user {
        display: none;
    }
    .logo {
        width: 175px;
        height: 38px;
        margin-top:  18px;
        margin-left: 29px;
        white-space: nowrap;
    }
    .header-box {
        display: flex;
        flex-direction: column;
        
    }
    .navigation {
        width: 250px;
        height: 189px;
        display: flex;
        flex-direction: column;
        margin-left: 43px;
        margin-top: 96px;
        
    }
    .ul-item {
        
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .section1 {
        display: none;
    }
    .section2 {
        display: none;
    }
    .header-content {
        display: none;
    }
    .white-box {
        display: none;
    }
    .header {
        background-image: none;
    }
    .footer {
        max-width: 250px;
        width: 100%;
        height: 57px;
        margin-top: 95px;
    }
}
@media (min-width: 376px)  and (max-width:834px) {
    

    .navigation {
        display: none;

    }
    .burger-bar {
        display: inline;
    }
    .header {
        
        width: 100%;
    }
    .header-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header-h {
        width: 100%;
    }
    .header-content {
        width: 100%;
        
    }
    .white-box {
        display: none;
    }
    
    .section1 {
        max-width: 348px;
        width: 90%;
        height: 831px;
        display: flex;
        flex-direction: column;
        
    }
    .section1-box {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
    }
    .passport {
        display: none;
    }
    .PHOTOGRAPH {
        margin-left: 14px;
    }
    .wraper {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        
    }
    .girl, 
    .lake {
        display: none;
    }
    .left-wraper {
        width: 100%;
        margin-left: 0;
    }
    .sunset-h {
        font-size: 24px;
        margin-top: 180px;
        margin-left: 21px;
    }
    .sunset-p {
        font-size: 12px;
        margin-top: 221px;
        margin-left: 21px;
    }
    .nature-h {
        font-size: 24px;
        margin-top: 188px;
        margin-left: 21px;
    }
    .nature-p {
        font-size: 12px;
        margin-top: 229px;
        margin-left: 21px;
    }
    .right-wraper {
        width: 100%;
    }
    .footer {
        max-width: 375px;
        height: 100px;
        width: 100%;
        margin-top: 0px;
    }
    .white-box-addition {
        display: inline;
        max-width: 347px;
        width: 100%;
        height: 349px;
        margin-top: 700px;
    }

}
@media (min-width: 835px)  and (max-width:1440px) {
    .header {
        width: 100%;
    }
    .header-box {
        width: 100%;
    }
    .navigation {
        width: 100%;
        margin-left: 497px;
    }
    .ul-item {
       
        
    }
}