.header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin-top: 2px;
    
    
    
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 92px;
}
.logo-paragraph {
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-weight: 400;
    color: #FA793C;
}  

.ul-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 252px;
    height: 19px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:  #000000;
    margin-left: 828px;
    margin-top: 18px;
    
}
.user {
    max-width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-left: 40px;
}

